<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
</head>

<body>
    {% include "header.html" %}

    {% if msg %}
    <p class="msg">{{ msg }}</p>
    {% endif %}

    <h3 class="which_page">ADD Student</h3>

    <div class="add_form">
             <form method="POST">
                 
            <input class="input_box" type="number" name="id" placeholder="Enter ID" inputmode="numeric" pattern="\d+" required>
        
            <input class="input_box" type="text" name="name" placeholder="Enter Name" pattern="^[A-Za-z][A-Za-z0-9]*$" title="Name must start with letters, numbers are optional" required>
        
            <input class="input_box" type="number" name="age" placeholder="Age" inputmode="numeric" min="1" max="100" required>
        
            <input class="input_box" type="text" name="course" placeholder="Course" pattern="^[A-Za-z][A-Za-z0-9]*$" title="Course must start with letters, numbers are optional" required>
        
            <button class="submit_button" type="submit">ADD</button>
        </form>
    </div>

    <!-- ------------------------------------------- -->

    {% block content %}{% endblock %}
    {% include "contact.html" %}
</body>

</html>
