<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
</head>

<body>
    <div id="contact">
        <h2>Follow Me</h2>
        <div class="social-media-icons">
            <a href="https://github.com/Manju200417" target="_blank"><img src="static/github.svg" alt="Github"></a>
            <a href="https://www.linkedin.com/in/manju-alagawadi-483508243/" target="_blank"><img
                    src="static/linkedin.svg" alt="Linkedin"></a>
            <a href="mailto:manjuguru814@gmail.com" target="_blank"><img src="static/email.svg" alt="Email"></a>
            <a href="https://www.instagram.com/manju_200417/" target="_blank"><img src="static/inst.svg"
                    alt="Instagram"></a>
        </div>
        <p>&copy; 2025 Manjunath Alagawadi</p>
    </div>
</body>

</html>
