<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="header">
        <nav>
            <h3><span class="S">STUDENT</span> MANAGEMENT SYSTEM</h3>
            <ul>
                <li><a href="{{ url_for('mainf') }}">HOME</a></li>

                <li><a href="#contact">CONTACT US</a></li>

            </ul>
        </nav>
        <div class="line"></div>
        <div class="textm">
            <h1>DATABASE FOR NORMAL HUMANS</h1>
            <P>SQL MANAGEMENT SYSTEM</P>
        </div>
    </div>
</body>

</html>