<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
</head>

<body>
    {% include "header.html" %}

    <!-- ---------------------------------- -->
    <h3 class="which_page">Search Student</h3>
    {% if msg %}
    <p class="msg">{{ msg }}</p>
    {% endif %}


    <div class="search_stu">
        <form action="/search_student" method="POST">
            <div class="choice_box">
                <label>Search :</label>
                <select name="choice" id="search_options">
                    <option value="name">By Name</option>
                    <option value="id">By ID</option>
                    <option value="age">By Age</option>
                    <option value="course">By Course</option>
                </select>
            </div>
            <input class="input_box" type="text" name="value" placeholder="Enter Releted Data To Search">
            <button class="submit_button" type="submit" name="search">Search</button>
            <button class="submit_button" type="submit" name="show_all">Show All</button>
        </form>

        <!-- ---------------- Table --------------------- -->
        <div class="table_div">
            {% if students %}
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Course</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ student[0] }}</td>
                        <td>{{ student[1] }}</td>
                        <td>{{ student[2] }}</td>
                        <td>{{ student[3] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        


        <!-- ----------------contact------------------------ -->

        {% block content %}{% endblock %}
        {% include "contact.html" %}
</body>

</html>
